<header>
    <nav class="navbar pb-5 me-auto navbar-light bg-light justify-content-left">
        <h1 class="pb-2 border-bottom" style="color:#6767E6;">Flights app</h1>
        <div class="d-flex">
        </div>
    </nav>
</header>