<%- include('parts/head.ejs') %>

    <body class="bg-light text-dark container text-center p-3 ">
        <%- include('parts/header.ejs',{session:"Ljubisav"}) %>
            <main class="d-flex flex-nowrap">
                <div class="container text-center p-3 ">
                    <h1 class="text-center">Welcome to macrometa chatApp</h1>
                    <div class=" text-center p-3">
                        <h3>Please enter your username</h3>
                        <form class="form-inline" action="/chat" method="post">
                            <div class="input-group w-25 mx-auto text-center p-3 ">
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                    aria-describedby="button-addon1" name="name" id="name" required
                                    pattern="[A-Za-z]+" />
                                <button class="btn btn-primary" type="submit" id="button-addon1"
                                    data-mdb-ripple-color="dark">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
            <%- include('parts/footer.ejs') %>
    </body>

    </html>