<header>
    <nav class="navbar pb-5 me-auto navbar-light bg-light justify-content-left">
        <h1 class="pb-2 border-bottom" style="color:#6767E6;">Chat app</h1>
        <div class="d-flex">
            <form action="/signOut" method="POST">
                <%=session%>
                    <button class="btn btn-danger my-2 my-sm-0" type="submit">Sign Out</button>
            </form>
        </div>
    </nav>
</header>